<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：必须与对应的接口全类名一致 id:必须与对应接口的某个对应的方法名一致 -->

<mapper namespace="com.yp.product.dao.ProductDao">
    <select id="queryAll" resultType="com.yp.common.bean.product.vo.Product">
        select
        item_code as itemCode,
        name as name,
        band_name as bandName,
        price as price
        from product
    </select>

    <select id="getProductDetail" parameterType="string" resultType="com.yp.common.bean.product.vo.Product">
        select
        item_code as itemCode,
        name as name,
        band_name as bandName,
        price as price
        from product
        where item_code = #{itemCode}
    </select>

    <insert id="insertProduct" parameterType="com.yp.common.bean.product.vo.Product">
        insert into product(
        item_code,
        name,
        band_name,
        price,
        created_by,
        created_date,
        updated_by,
        updated_date
        )VALUES (
        #{itemCode},
        #{name},
        #{bandName},
        #{price},
        user,
        now(),
        user,
        now()
        )
    </insert>
</mapper>

